<div class="container-fluid">
  <div class="header">
    <h1>votes on quotes</h1>
  </div>
  <div class="row">
    <form>

      <div class="form-group">
        <label for="description">Quote:</label><br>
        <textarea class="form-control" id="description" rows="7" name="quote"  required></textarea>
        </div>


      <div class="form-group">
              <label for="name">Author:</label><br>
              <input type="text" class="form-control" id="name" rows="3" required><br>
              </div>


              <div class="form-group">
                      <label for="personSubmitting">submitter:</label><br>
                      <textarea class="form-control" id="submitter" rows="2"  name="submitter" required></textarea>
                      </div>

    </form>
 <button type="Submit" class="btn btn-primary ">submit quote</button><br>
  </div>





</div>
