<div class="container-fluid">
  <div class="jumbotron">
    <h1>vote on quotes</h1>
  </div>
  <div class="row">
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
      <div class="form-group">
        <label for="description">Quote:</label><br>
        <textarea class="form-control" id="description" rows="7" name="quote"  required></textarea>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.name"  #name="ngModel" required>



        </div>


      <div class="form-group">
              <label for="name">Author:</label><br>
              <input type="text" class="form-control" id="name" rows="3" required><br>
              <div [hidden]="name.valid || name.pristine" class="alert alert-warning">
              <p>Please input author's name</p>
              </div>


              <div class="form-group">
                      <label for="personSubmitting">submitted by:</label><br>
                      <textarea class="form-control" id="submitter" rows="2"  name="submitter" required></textarea>
                      </div>

    </form>

  </div>
<button type="Submit" class="btn btn-primary btn-sm">publish quote</button>
<hr>




</div>
